.conteiner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div {
  display: flex;
  flex-flow: row wrap;
}
.img {
  width: 33px;
  height: 42px;
  display: inline-block;
}
.p {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-right: 20px;
}
.p2 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-right: 20px;
}
.p3 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-right: 20px;
}
.p4 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-right: 20px;
}
.div2 {
  width: 1440px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sec1 {
  width: 1440px;
}
.img2 {
  width: 1440px;
  height: 606px;
  position: relative;
}
.p5 {
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 30%;
}
.p6 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 40%;
}
.sec2 {
  width: 1440px;
}
.div4 {
  margin-top: 50px;
  margin-left: 30px;
}
.div5 {
  display: inline-block;
}
.p7 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 89px;
  height: 20px;
}
.p8 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 214px;
  height: 32px;
}
.p9 {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 235px;
  height: 115px;
  margin-top: 15px;
}
.div6 {
  display: inline-block;
  margin-left: 70px;
}
.img3 {
  width: 286px;
  height: 195px;
}
.p10 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p11 {
  width: 286px;
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div7 {
  display: inline-block;
  margin-left: 50px;
}
.img4 {
  width: 286px;
  height: 195px;
}
.p12 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div8 {
  display: inline-block;
  margin-left: 50px;
}
.p13 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div10 {
  display: inline-block;
}
.p14 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 340px;
}
.p15 {
  width: 286px;
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 340px;
}
.img6 {
  width: 286px;
  height: 195px;
  margin-left: 340px;
  margin-top: 50px;
}
.div11 {
  display: inline-block;
  margin-left: 50px;
}
.p16 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p17 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 286px;
}
.img7 {
  width: 286px;
  height: 195px;
}
.div12 {
  display: inline-block;
  margin-left: 50px;
}
.img8 {
  width: 286px;
  height: 195px;
}
.p18 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
